
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit&family=Lobster&family=Montserrat:wght@300;400;700&family=Ubuntu&display=swap');
*{
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration: none;
}
nav{
    width:100%;
}
.header{
    /* border:1px solid red; */
    width:100%;
    min-height:100px;
    background-color: red;
    padding:10px 5px;
}

.header h1{
    color:white;
    font-size: 54px;
    font-family: "Abril Fatface","Montserrat", "Sans-serif";
    font-weight:900;
    text-align: center;
    /* border:1px solid black; */
    padding: 10px 0px;
}
.header-nav-links{
    background-color: rgba(213, 221, 221, 0.628);
    display: flex;
}
.header-nav-links ul{
width:80%;
/* border:1px solid blue; */
margin:0 auto;
padding: 5px 10px;
text-align: center;
}
.header-nav-links ul li{
display: inline-block;
margin:0 5px;
}
.header-nav-links ul li a{
    font-size:18px;
    font-weight:700;
    font-family: "Montserrat","Open-sans-serif";
    color:black;
    padding: 5px;
}
.header-nav-links a.active,.header-nav-links a:hover{
    color:red;
    transition: 0.3s;
}


.quote{
    height:100vh;
    
    grid-template-columns: 1fr 0.5fr;
}
.quote-image{
    position: relative;
        height:100vh;
        background-image: url("images/Parl.jpg");
        background-size: cover;
    }
    .quote-image p{
        position: absolute;
        top:30%;
        left:5%;
        width: 65%;
        font-size: 20px;
        letter-spacing: 0.8px;
        line-height: -5px;
        font-family:"Lobster","Arial", "Montserrat","Abril Fatface";
        font-weight:900;
        color:black; 
    }
#top-headlines{
    background-color:rgba(0,0,0,0.85);
    font-family: "Montserrat","Arial";
    padding: 10px 0;
    text-align: center;
    color: white;
}
.headlines{
    margin-top: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.sub-headlines{
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    flex-wrap: wrap;
}
.sub-headlines:hover{
    background-color: rgba(0,0,0,0.6);
    color:white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
.sub-headlines img{
    width:200px;
    height:100px;
    
}
.sub-headlines-img{
    margin:0 auto;
}
.sub-headlines-text h1{
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}
.sub-headlines-text h1{
    text-align: center;
}
.sub-headlines-text p{
    padding: 5px 0;
}
.news-img{
    width:100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: rgb(239, 118, 118,0.);
}
.news-img img{
    width:50%;
}
.news-text h1{
    font-family: "Montserrat","Arial";
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding: 10px 3px;
}
.news-text p{
    width:60%;
    font-style: italic;
    margin:0 auto;
    background-color: rgba(213, 221, 221, 0.628);
    padding:10px 20px;
}
.footer{
    width:100%;
    height:200px;
    
}
.footer div{
    display: inline-block;
    margin-left: 10px;
}
footer h1{
    margin:30px 50px;
    color:red;
    font-family: "Abril Fatface";
}
footer div img{
    height:30px;
    width: 30px;
}
@media (max-width:600px){
    .headlines{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
